<!DOCTYPE html>
<html>
  <head>
    <title>Morpion</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="node_modules/skeleton-css/css/skeleton.css">
    <script type="text/javascript" src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <script src="https://www.gravatar.com/205e460b479e2e5b48aec07710c08d50.json?callback=changeTitle" type="text/javascript"></script>

    <script
    src="https://code.jquery.com/jquery-2.2.3.min.js"
    integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
    crossorigin="anonymous"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>

    <script
    src="https://code.jquery.com/jquery-2.2.3.min.js"
    integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <h1>MORPION</h1>
        <h4><%= newGame %></h4>
        <img id="img"/>
        <input type="text" name="name" id="nameNew" placeholder= "<%= name %>" required>
        <input type="text" name="email" id="email" placeholder="<%= email %>" required>
        <button id="new" onclick="imageGravatar()"><%= newGame %></button>
        <br><br>
        <h4><%= join %></h4>
        <img id="img2"/>
        <input type="text" name="name" id="nameJoin" placeholder="<%= name %>" required>
        <input type="text" name="email" id="email2" placeholder="<%= email %>" required>
        <input type="text" name="room" id="room" placeholder="<%= idRoom %>" required>
        <button id="join" onclick="imageGravatar2()"><%= join %></button>
      </div>
      <div class="gameBoard">
        <img id="img3">
        <h2 id="userHello"></h2>
        <h3 id="turn"></h3>
        <table class="center">
          <tr>
            <td><button class="tile" id="button_00"></button></td>
            <td><button class="tile" id="button_01"></button></td>
            <td><button class="tile" id="button_02"></button></td>
          </tr>
          <tr>
            <td><button class="tile" id="button_10"></button></td>
            <td><button class="tile" id="button_11"></button></td>
            <td><button class="tile" id="button_12"></button></td>
          </tr>
          <tr>
            <td><button class="tile" id="button_20"></button></td>
            <td><button class="tile" id="button_21"></button></td>
            <td><button class="tile" id="button_22"></button></td>
          </tr>
        </table>
      </div>
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>

    <script type="text/javascript">

        //function pour créer un MD5 hash
        var md5 = function(value) {
            return CryptoJS.MD5(value).toString();
        }

        $("#email").keyup(function () {
             /*créer le hash pour l'adresse email*/
             var value = $(this).val();
             var hash = md5(value);
             /*Change l'url de l'image*/
             $("#img").attr("src","https://www.gravatar.com/avatar/"+hash+".jpg"); 
             
         });

         $("#email2").keyup(function () {
             /*créer le hash pour l'adresse email*/
             var value = $(this).val();
             var hash = md5(value);
             /*Change l'url de l'image*/
             $("#img2").attr("src","https://www.gravatar.com/avatar/"+hash+".jpg");            
         });
    </script>

    <script type="text/javascript">
      function changeTitle( profile ) {
          document.title = profile.entry[0].displayName;
      }
    </script>


    <script type="text/javascript">
      var crypto = require("crypto-js");
      var request = require("request");
      /*Genere un md5-hash de l'email address et le retour en hexadecimal*/
      var hash = crypto.createHash('md5').update("example@hotmail.com").digest("hex");
      /*Envoi une requetes*/
      request("https://www.gravatar.com/"+hash+".xml",function(err,response,body){
        if (!err) {
          console.log(body);
        }else{
          console.log("Error: "+err);
        }
      })
      /*Envoi une requetes*/
      request("https://www.gravatar.com/avatar/"+hash+".jpg",function(err,response,body){
        if (!err) {
          console.log("Got image: "+body);
        }else{
          console.log("Error: "+err);
        }
      })
    </script>

    <script type="text/javascript">

      //Permet d'associer a l'id image 3 la source de l'id img afin que le joueur 1 ou 2 retrouve son logo gravatar
      function imageGravatar() {
        $('#img3').attr('src', document.getElementById("img").src);
      }
    </script>

    <script type="text/javascript">
       //Permet d'associer a l'id image 3 la source de l'id img afin que le joueur 1 ou 2 retrouve son logo gravatar
      function imageGravatar2() {
        $('#img3').attr('src', document.getElementById("img2").src);
      }
    </script>

  </body>
</html>